+++
title = "ACROSS"
linkTitle = "ACROSS"

+++

{{< blocks/cover title="ACROSS" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
		About ACROSS<i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://vermontcomplexsystems.org/partner/OCEAN/">
		Learn more about OCEAN<i class="fas fa-arrow-alt-circle-right ml-2 "></i>
	</a>
	<p class="lead mt-5">Attributing Contributor Roles in Open Source Software</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

<a href="https://vermontcomplexsystems.org/partner/OCEAN/">Project OCEAN</a> is an open science collaboration focused on understanding the open source ecosystems creating datasets that enable research and forming a clear understanding of the state of open source communities. OCEAN’s goal is to understand the health of the open source communities.


{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Coming soon" %}}
Group playbook and self-guided workshop

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow UVM Complexity on Twitter!" url="https://twitter.com/uvmcomplexity" %}}
For news about all the latest developments. 
{{% /blocks/feature %}}


{{< /blocks/section >}}

